@import url('https://fonts.googleapis.com/css2?family=Victor+Serif:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-container::-webkit-scrollbar {
  width: 8px; 
}

.sidebar-container::-webkit-scrollbar-track {
  background: white; 
}

.sidebar-container::-webkit-scrollbar-thumb {
  background-color: white; 
  border-radius: 10px; 
}

.sidebar-container::-webkit-scrollbar-thumb:hover {
  background-color: white;
}

.sidebar-container {
  scrollbar-width: thin;
  scrollbar-color: #888 white; 
}
